---
import CopyIcon from '@icons/CopyIcon.astro';
import CheckIcon from '@icons/CheckIcon.astro';
---

<pre class="code-block">
  <button class="copy-button" aria-label="copy">
    <CopyIcon />
  </button>

  <span class="check-icon">
    <CheckIcon />
  </span>

  <slot />
</pre>